
.home-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 252, 101, 0.404);
  border: 2px solid #3f48ccbe;
  padding: 20px;
}

.main-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
}

#title-text {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
  padding: 10px;
}

.main-instructions {
  padding-top: 50px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  font-size: 19px;
}