.ingredients-select-box {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 4px;
}

#testing:active {
  background: rgba(0, 0, 0, 0.5);
}

#testing:after {
  background: rgba(0, 0, 0, 0.5);
}

.recipe-form {
  width: 100;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-form-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #3f48cc;
  padding-bottom: 40px;
}

#recipe-create {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

#recipe-create h3 {
  font-size: 20px;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
}

#first-row,
#second-row {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

#recipe-small-inputs {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 5px; */
  width: 50%;
  height: 200px;
  /* border-right: 2px solid #3F48CC; */
  /* border-bottom: 2px solid #3F48CC; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border-right: 1px solid black;
}

#ingredient-input {
  /* margin-left: 5px; */
  width: 45%;
  height: 250px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* #ingredient-inputs {
  margin-left: 20px;
  width: 50%;
} */

#ingredient-inputs h3 {
  margin-right: 5px;
}

#ingredient-section {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

#ingredient-input h2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
}

#selected-ingredient,
#category-list-item,
#step-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #3f48cc;
  border-radius: 25px;
  margin: 5px;
}

.space-between {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* padding-left: 50px; */
  /* padding-right: 50px; */
}

#ingredients-list {
  width: 100%;
  height: 150px;
  overflow: scroll;
}

#create-recipe-form textarea {
  align-self: center;
  width: 99%;
  height: 50px;
  resize: none;
}

#create-recipe-form select {
  align-self: center;
  /* width: 99%; */
  height: 56.48px;
  resize: none;
}

.small-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}

.ingredients-select-box {
  width: 100%;
}

.ingredients-list-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  padding-left: 20px;
  padding-right: 10%;
}

#categories-input {
  /* padding-right: 20px; */
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  border-right: solid 1px black;
}

#categories-inputs {
  width: 40%;
}

#selected-categories {
  width: 100%;
  height: 150px;
  padding-right: 20px;
}

#selected-categories-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

#selected-categories-list {
  overflow: scroll;
  /* max-height: 200px; */
}

#selected-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 30px;
}

#categories-input h4 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding-bottom: 20px;
  font-size: 20px;
}

#steps-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
}

#steps-title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
}

#steps-input-and-steps {
  display: flex;
}

#steps-input {
  width: 50%;
}

#current-steps {
  width: 50%;
  padding-left: 20px;
  overflow: scroll;
  /* height: 150px; */
}

#create-recipe-button {
  width: 25%;
  align-self: center;
  margin-top: 5px;
}

#steps-list {
  height: 150px;
  overflow: scroll;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  font-size: 25px;
}

.close-modal:hover {
  cursor: pointer;
}

.recipe-form input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 3px;
  /* margin-left: 20px; */
}

#steps-text-area {
  border: 1px solid black;
  border-radius: 3px;
  height: 50%;
  width: 100%;
}

.recipe-form h4 {
  font-size: 15px;
  padding-bottom: 5px;
}

.recipe-form textarea {
  border: 1px solid black;
  border-radius: 4px;
}
