.index-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.add-more {
  /* margin-top: 20px; */
  font-size: 25px;
  font-weight: 300;

  color: #3F48CC;
}

.add-more-2 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #3f48ccd0;
}

#index-title {
  margin-top: 20px;
  font-weight: 600;
  border-top: 1px solid #3F48CC;
  padding-top: 10px; 
  padding-bottom: 10px;
  color: rgba(19, 19, 19, 0.836)
}

#index-recipe-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.index-recipes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#category-item  {
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #3F48CC;
  height: 80px;
  width: 80px;
  text-align: center;
  margin: 5px;
  /* overflow: hidden; */
  list-style: none;
  cursor: pointer;
}

#recipe-picture{
    object-fit: cover;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
}

.category-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index-recipe-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  /* border: 1px solid #3F48CC; */
  border-radius: 4px;
  background-color: #3f48ccd0; 
  color: white;
  overflow: hidden;
  /* padding: 5px; */
  text-decoration: none;
  height: 300px;
}

.index-recipe-item h3{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 200px;
    font-size: 23px;
    color: white;
    font-weight: 400;
}

#recipe-links{
  text-decoration: none;
}


#match-label{
    padding: 7px;
    /* margin-left: 5px; */
    border-radius: 25px;
    width: 50%;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.904);
    margin: 3px;
    color: black;
  }

#exact-match p, #close-match p {
  padding-bottom: 8px;
}

#all-recipes-title{
  font-size: 50px;
}