#first-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#first-col-bottom {
  height: 100%;
}

#second-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#recipe-edit-wrapper {
  display: flex;
}

#recipe-edit-form {
  width: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#recipe-edit-form input {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}

#recipe-edit-form h2 {
  font-size: 20px;
}

#recipe-form-info {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#recipe-form-info label {
  font-size: 30px;
  display: flex;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#recipe-form-info input {
  height: 20px;
  vertical-align: middle;
}

#category-select {
  display: flex;
  height: 40%;
  margin-top: 220px;
  border-right: 1px solid black;
}

#selected-categories{
  height: 200px;
  overflow: scroll;
}

#category-select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 170px;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 7px;
  overflow-x: hidden;
}

#recipe-edit-categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%
}


#recipe-edit-categories ul {
  overflow: scroll;
  height: 80%;
}

#possible-ingredients{
  height: 150px;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 7px;
  overflow-x: hidden;
}


#second-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.recipe-edit-ingredients {
  display: flex;
}


#recipe-edit-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}


#recipe-edit-steps {
  display: flex;
  margin-top: 25px;
}

#steps-list {
  border: 1px solid black;
  border-radius: 7px;
  overflow-x: hidden;
  /* width: 50%; */
}

#edit-recipe-button {
  position: relative;
  left: 35%;
  width: 30%;
}

#recipe-edit-textarea {
  width: 50%;
  margin-right: 10px;
}

#recipe-edit-steps-wrapper {
  width: 50%;
}

