#not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 52px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#not-found-image{
    height: 200px;
    width: 200px;
}

#left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#bold-link{
    color: #3F48CC;
}