.navbar-container {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  
}

.navbar-content {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  /* margin: 0 auto; */
  justify-content: space-between;
  padding: 4px;
}

.navbar-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  margin-right: 50px;
}

.navbar-left {
  display: flex;
  width: 50%;
  align-items: center;
}

.pc-logo {
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 2px solid #3F48CC;
  border-radius: 50%;
}

.navbar-item {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-about {
  display: flex;
  align-items: center;
}

.navbar-github {
  display: flex;
  align-items: center;
}

#nav-github-logo {
  font-size: 35px;
  color: #3F48CC;
}

.navbar-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
}

.navbar-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
}

.login-button {
  background-color: #3F48CC;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 9px 21px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.signup-button {
  margin-left: 3px;
  background-color: transparent;
  border: 1px solid #3F48CC;
  color: #3F48CC;
  border-radius: 5px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}