.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-child {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 100%;
  padding: 20px;
  transform: translate(-50%, -50%);
  /* transform: scale(0.7); */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #3f48cc;
  border-radius: 15px;
}