.sidemenu {
  min-width: 350px;
  position: fixed;
  height: 100vh;
  right: 0;
  top: 70px;
  /* background: white; */
}


.close-sidemenu {
  position: absolute;
  top: 40px;
  right: 10px;
  cursor: pointer;
}

/* .sidemenu{
  height: 100vh;
  position: sticky;
  align-self: flex-start;
  top: 0;
  overflow: hidden;
} */